#version: 0.42
name: ft_onion

x-alpine-version: &arg
  version: ${ALPINE_VERSION}

networks:
  tornet:
    driver: bridge

configs:
  nginx_config:
    file: ./server/nginx.conf
  torrc:
    file: ./tor/torrc
  sshd_config:
    file: ./server/sshd_config

services:
  tor:
    build:
      context: ./tor
      args: *arg
    container_name: tor
    networks:
      - tornet
    configs:
      - source: torrc
        target: /etc/tor/torrc
        mode: 0440
    volumes:
      - "tor:/var/lib/tor"
    security_opt:
      - "no-new-privileges:true"
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    restart: unless-stopped

  server:
    build:
      context: ./server
      args: *arg
    container_name: server
    networks:
      - tornet
    configs:
      - source: nginx_config
        target: /etc/nginx/nginx.conf
        mode: 0440
      - source: sshd_config
        target: /etc/ssh/sshd_config
        mode: 0440
    volumes:
      - "./www:/usr/share/nginx/html:ro"
      - "./.ssh/authorized_keys:/home/onion/.ssh/authorized_keys:ro"
    security_opt:
      - "no-new-privileges:true"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "/usr/bin/healthcheck.sh"]
      interval: 1m
      timeout: 10s
      retries: 4
      start_period: 20s

  gitea:
    image: gitea/gitea:1.25.2-rootless
    container_name: gitea
    profiles: ["gitea", "legacy"]
    networks:
      - tornet
    volumes:
      - gitea-data:/var/lib/gitea
      - gitea-config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
    - GITEA__database__DB_TYPE=postgres
    - GITEA__database__HOST=db:5432
    - GITEA__database__NAME=gitea
    - GITEA__database__USER=${POSTGRES_USER}
    - GITEA__database__PASSWD=${POSTGRES_PASSWORD}
    depends_on:
      - db
    restart: unless-stopped

  forgejo:
    image: codeberg.org/forgejo/forgejo:13-rootless
    container_name: forgejo
    profiles: ["default", "forgejo"]
    networks:
      tornet:
        aliases:
          - gitea
    user: 1000:1000
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=db:5432
      - FORGEJO__database__NAME=gitea
      - FORGEJO__database__USER=${POSTGRES_USER}
      - FORGEJO__database__PASSWD=${POSTGRES_PASSWORD}
    volumes:
      - forgejo-data:/var/lib/gitea
      - forgejo-config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:18-alpine3.22
    container_name: db
    networks:
      - tornet
    volumes:
      - postgres:/var/lib/postgresql
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB=gitea
    restart: unless-stopped

volumes:
  tor:
  gitea-data:
  gitea-config:
  forgejo-data:
  forgejo-config:
  postgres:
